{% extends 'layout.html' %}
{% block css %}
{#    <link href="/static/css/base.css" rel="stylesheet">#}
{#    <link href="/static/css/custom2.css" rel="stylesheet">#}
    <link href="/static/css/grid.css" rel="stylesheet">
{#    <link href="/static/css/layout.css" rel="stylesheet">#}
{#    <link href="/static/css/print.css" rel="stylesheet">#}
    <link href="/static/css/shortcodes.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <div id="av_section_7"
         class="avia-section main_color avia-section-default avia-no-shadow avia-bg-style-scroll  avia-builder-el-134  el_after_av_section  el_before_av_section  container_wrap fullsize">
        <div class="container">
            <div class="template-page content  av-content-full alpha units">
                <div class="post-entry post-entry-type-page post-entry-9081">
                    <div class="entry-content-wrapper clearfix">
{#                        <div style="height:50px"#}
{#                             class="hr hr-invisible  avia-builder-el-135  el_before_av_heading  avia-builder-el-first ">#}
{#                            <span class="hr-inner "><span class="hr-inner-style"></span></span></div>#}
                        <div style="font-size:30px;"
                             class="av-special-heading av-special-heading-h3  blockquote modern-quote modern-centered  avia-builder-el-136  el_after_av_hr  el_before_av_hr   av-inherit-size">
                            <h3 class="av-special-heading-tag" itemprop="headline">公司使命 : 将创新性的绝佳材料带入日常生活中</h3>

                            <div class="special-heading-border">
                                <div class="special-heading-inner-border"></div>
                            </div>
                        </div>
                        <div class="hr hr-short hr-center  avia-builder-el-137  el_after_av_heading  el_before_av_one_full ">
                            <span class="hr-inner "><span class="hr-inner-style"></span></span></div>
                        <div class="flex_column av_one_full  flex_column_div av-zero-column-padding first  avia-builder-el-138  el_after_av_hr  el_before_av_hr  "
                             style="border-radius:0px; ">
                            <div class="avia-image-container  av-styling-   avia-builder-el-139  avia-builder-el-no-sibling  avia-align-center "
                                 itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                <div class="avia-image-container-inner"><img class="avia_image "
                                                                             src="/static/imgs/about_04.png"
                                                                             alt="" title="about_04"
                                                                             itemprop="contentURL">
                                </div>
                            </div>
                        </div>
                        <div style="height:20px"
                             class="hr hr-invisible  avia-builder-el-140  el_after_av_one_full  el_before_av_hr "><span
                                class="hr-inner "><span class="hr-inner-style"></span></span></div>
                        <div class="hr hr-short hr-center  avia-builder-el-141  el_after_av_hr  el_before_av_one_fifth ">
                            <span class="hr-inner "><span class="hr-inner-style"></span></span></div>
                        <div class="flex_column_table av-equal-height-column-flextable">
                            <div class="flex_column av_one_fifth  flex_column_table_cell av-equal-height-column av-align-middle av-zero-column-padding first  avia-builder-el-142  el_after_av_hr  el_before_av_two_fifth  "
                                 style="border-radius:0px; ">
                                <div class="avia-image-container  av-styling-   avia-builder-el-143  avia-builder-el-no-sibling  avia-align-center "
                                     itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                    <div class="avia-image-container-inner"><img class="avia_image "
                                                                                 src="/static/imgs/about_02_cha.png"
                                                                                 alt="" title="about_02_cha"
                                                                                 itemprop="contentURL"></div>
                                </div>
                            </div>
                            <div class="av-flex-placeholder"></div>
                            <div class="flex_column av_two_fifth  flex_column_table_cell av-equal-height-column av-align-middle av-zero-column-padding   avia-builder-el-144  el_after_av_one_fifth  el_before_av_two_fifth  "
                                 style="border-radius:0px; ">
                                <section class="av_textblock_section" itemscope="itemscope"
                                         itemtype="https://schema.org/CreativeWork">
                                    <div class="avia_textblock " itemprop="text">
                                        <ul>
                                            <li><b style="color: #FF6699">球体 </b>: 地球和人类</li>
                                            <li><b style="color: #FF6699">红色</b> : 从天堂来的火、热情</li>
                                            <li><b style="color: #FF6699">顶端23.5°白色区域</b> : 照耀到地球的光、光明</li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                            <div class="av-flex-placeholder"></div>
                            <div class="flex_column av_two_fifth  flex_column_table_cell av-equal-height-column av-align-middle av-zero-column-padding   avia-builder-el-146  el_after_av_two_fifth  avia-builder-el-last  "
                                 style="border-radius:0px; ">
                                <div class="avia-image-container  av-styling-   avia-builder-el-147  el_before_av_textblock  avia-builder-el-first  avia-align-center "
                                     itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                                    <div class="avia-image-container-inner"><img class="avia_image "
                                                                                 src="/static/imgs/about_03-1.png"
                                                                                 alt="" title="about_03"
                                                                                 itemprop="contentURL"></div>
                                </div>
                                <section class="av_textblock_section" itemscope="itemscope"
                                         itemtype="https://schema.org/CreativeWork">
                                    <div class="avia_textblock " itemprop="text">
                                        <ul>
                                            <li>PrometalTech = Prometheus + Metal + Technology</li>
                                        </ul>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <!--close column table wrapper. Autoclose:  -->

                    </div>
                </div>
            </div>
            <!-- close content main div --></div>
    </div>



{% endblock %}


