{% extends 'layout.html' %}
{% block css %}
{#    <link rel="stylesheet" href="/stark/static/stark/css/form-control.css">#}
{% endblock %}

{% block body %}
{#    {% csrf_token %}#}
{#    <div class="clearfix">#}
{#    {% for field in form %}#}
{#        <div class="form-group col-sm-6">#}
{#            <label  class="col-sm-2 control-label">{{ field.label }}</label>#}
{#            <div class="col-sm-10">#}
{#                {{ field }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{% endblock %}